[2015-04-09 14:28] tommymarshall opened #10 "Error installing v8js"
I know this is only loosely related to your repo, but I thought getting an issue up would be a good reference for those of us debugging getting v8js installed.

Most of us use Laravel's Homestead vagrant box environment. I have a newly provisioned VM and, when I run the installation for v8js, I get the below error/output:

[code]

I ran `pecl channel-update pecl.php.net`, but the error persists. A

[2015-04-09 14:46] talyssonoc commented on #10
V8js depends on libv8, run `sudo apt-get install libv8-dev libv8-dbg g++ cpp` before installing it with `pecl` ([source](http://stackoverflow.com/questions/7770601/installing-phpv8js-on-ubuntu)).

Say me if that worked !

Thanks for opening the issue, I'm gonna update it at the README !

[2015-04-09 19:38] tommymarshall commented on #10
Thanks for the quick response! There must be something funky with the Vagrant Box, because:

[code]

I installed libv8 using `gem install libv8`. That got me further into the process, then:

[code]

But then I don't have libv8-dpg or cppf :/ #tears

[2015-04-09 19:57] talyssonoc commented on #10
I'm not sure thar libv8-dbg is really necessary (gotta check it later and them update the REAME me again, sorry by the inconvenient).

And I guess you commited a typo there, it's `cpp`, not `cppf` !

Try just this: `sudo apt-get install libv8-dev g++`.

##

Edit:

Just installed it in homestead using `sudo apt-get install libv8-dev g++` :D
When asked for libv8 location, use `/opt/v8`.

[2015-04-10 14:56] #10 closed, assigned to nobody

[2015-04-15 13:48] brenelz opened #14 "Best way to connect laravel routes and react-router?"
Loving this package... got this all working in an app.

One question I have is how would you hook up the routing.  I see 2 options.
1. Keep client-side routing on the client - and only use Laravel for api stuff or full page reloads
2. Pass Laravel routes to the react-router if they don't exist (404)

Thoughts?

[2015-04-16 17:30] talyssonoc commented on #14
Huum, for now I would use the first option, the second seems wrong.

But, as I said, it's for now, I'm planning to create a `@react_router` directive soon !

[2015-04-16 20:45] brenelz commented on #14
That sounds pretty cool... why would you write your react routes in blade though?

[2015-04-16 20:49] talyssonoc commented on #14
Actually I wouldn't, the directive would mount and run the router, as the `@react_component` do for components, I'm still thinking about it, suggestions are welcome.

[2015-04-16 21:01] brenelz commented on #14
I do think  connecting the routing somehow would be pretty awesome.  Just thinking myself how I would like that to work.

[2015-04-22 23:34] talyssonoc opened #18 "Bug in the after install"
The new version has a bug after the installation because of `autoload.php`, gotta find a way to use `autoload.php` and it do not break the tests.

Version 0.5 is fine but is without the tests.

[2015-04-23 03:50] #18 closed, assigned to nobody

[2015-05-06 06:36] limweb opened #20 "can use JSX"
can use JSX  in this lib

[2015-05-08 11:21] talyssonoc commented on #20
Yes, you can, but not directly (yet, I just had an idea that will make it possible), for now you should use it: https://github.com/joecohens/laravel-elixir-react

[2015-05-09 17:56] bhargavjoshi opened #22 "Install V8.JS with composer"
Hi, Great library I was thinking to make a similar package, You have done a fantastic job.

When I was thinking to develop this package, I was thinking it would be great if we can install v8.js as pear package through composer. [Example](http://stackoverflow.com/questions/21519919/composer-install-pear-package)

Can we implement this in the package?

[2015-05-09 18:25] talyssonoc commented on #22
Hey, thanks, I'm glad you like it !

Well, I guess v8.js is not available at PEAR, just at PECL (and its support is not that great there too, sadly).

Other thing is that v8.js is not a dependency of `react-laravel` itself, but of `react-php-v8js`, maybe if it was possible this should be there.

[2015-05-11 11:05] TomCaserta commented on #20
Gunna watch this for updates as this is something i'd like.

Managed to get it to work in a very hacky way. Made an exp() function that exports the module to window or "global" depending on which exists. Then edited the php react class to load in modules on the "global" name space by prepending the component name with "global.". Appears to all work but is a very patch work method.

[2015-05-30 09:13] joshhornby opened #25 "Blade not rendering @react_component"
Hey,

This package looks great but I can't get it to work, I have followed the docs line for line but when it comes to including `@react_component('Message', [ 'title' => 'Hello, World' ], [ 'prerender' => true ])` inside a blade file it just print it out as if its a string.

Is this a known fault or something I am doing incorrectly? Like I say I have followed the guide word for word.

Thanks

[2015-05-30 09:46] joshhornby commented on #25
I have created an example repo which shows the issue

https://github.com/joshhornby/react-laravel-example

[2015-05-31 07:00] talyssonoc commented on #25
Can you see in the logs if there's something about it ?

[2015-05-31 08:17] joshhornby commented on #25
The logs are empty. Have you got a spare 5 mins to create an example working project? I can pull it down and compare with mine?

[2015-06-01 02:50] talyssonoc commented on #25
Damn, it is really not rendering. Apparently it's not a error with `react-laravel`, I've tried to downgrade it in my test project and it keeps happening, I guess it's something with some update at Laravel framework, gonna check it soon and answer here, thanks !

[2015-06-01 09:34] TomCaserta opened #26 "Update reactjs/react-php-v8js on Packagist"
Hi noticed you was maintainer of the packagist package.

It doesn't seem to be updated to reflect changes with the global/window object and as such my components written in JSX transpiled with browserify are not working correctly since its not got a global scope for the components to be placed into.

Without it this is all I get when I render my components:

[code]

Are you able to update it to re

[2015-06-01 12:44] talyssonoc commented on #26
Hi, @TomCaserta, just update it !

[2015-06-01 12:44] #26 closed, assigned to nobody

[2015-06-10 08:52] joshhornby commented on #25
Any update on this @talyssonoc?

[2015-06-10 12:34] talyssonoc commented on #25
Not yet, @joshhornby :disappointed:, I've tried to open a issue about it (https://github.com/laravel/framework/issues/8990), but they don't seen to want to help too much...

I'm thinking about to create a version for Laravel 5.1, I guess this will work properly, do you have interest in it ? (But I'll still try to work with 5.0).

[2015-06-10 12:49] joshhornby commented on #25
5.1 would be perfect for our dev team.

If you need any help I'd happily contribute just ping me! :+1:

[2015-06-10 12:55] talyssonoc commented on #25
Gonna do it soon !

In case you're interested, I've developed a package that connects Phactory and Laravel (it's specially useful for Laravel 5.0, since Laravel 5.1 already has support for factories), you can check it here: https://github.com/talyssonoc/phactory-laravel

[2015-06-11 13:01] talyssonoc commented on #25
Solved, @joshhornby !

[2015-06-11 15:48] joshhornby commented on #25
Still isn't working for me, I am think this maybe a namespace clash with https://github.com/reactphp/promise. As you can see the whole ReactPHP project uses the React namespace.

[2015-06-11 18:20] talyssonoc commented on #25
Damn, for me it's working fine (at least at Laravel 5.1). But I also think it could be because of ReactPHP. The error is the same ? The directive doesn't get rendered ? (Did you changed the version from 0.9 to 0.9.1 at your composer.json ?)

[2015-06-11 18:20] #25 closed, assigned to nobody

[2015-06-11 20:40] joshhornby commented on #25
I have 0.9.1 in my composer. Are you using Homestead to serve your site? I have v8js installed on Homestead but not on my local mac only on my VM, do you think this may be causing the issues?

[2015-06-11 20:47] talyssonoc commented on #25
Yes, I'm using Homestead, and `v8js` got to be installed just where the server is (i.e. Homestead), I don't think this may be the reason.

Can you check at your composer.lock if v0.9.1 was properly installed ? Also, can you check if the content of `vendor/talyssonoc/react-laravel/lib/ReactServiceProvider.php` is exactly like [this file](https://github.com/talyssonoc/react-laravel/blob/master/lib/R

[2015-06-11 20:59] joshhornby commented on #25
I have updated my project which can be found here: https://github.com/joshhornby/react-laravel-example

The file was the same.

This project doesn't have the React namespace clash. Can you create a sample project and push up? If it works on your end and not mine then chances are my set up is incorrect.

[2015-06-12 04:41] talyssonoc commented on #25
Sure I can ! Here it is: https://github.com/talyssonoc/react-laravel-example

[2015-06-12 15:58] joshhornby commented on #25
Didn't work for me, must be something at my side then!

[2015-06-13 21:02] a-moses commented on #25
@joshhornby  maybe  something with the  last version of V8 ?

[2015-06-16 15:47] joshhornby commented on #25
@a-moses Are you having the same issue? What version do you have installed on homestead @talyssonoc

[2015-06-16 17:17] talyssonoc commented on #25
@joshhornby, I'm using Homestead 2.0.14

[2015-06-16 18:10] joshhornby commented on #25
@talyssonoc Same here. I simply have just done

[code]

inside my homestead box. But when ever I load your example I just see the @react_component as a string.

[2015-06-16 18:21] talyssonoc commented on #25
@joshhornby weird... I've tested it with v8js 0.1.3 and 0.2.0 (you can se how to install it [here](https://github.com/talyssonoc/react-laravel/blob/master/install_v8js.md)).

Try to delete your `vendor` folder and run `composer update` again.

[2015-06-16 18:24] joshhornby commented on #25
I have added some logs into your service provider, and it seems the service provider is not getting picked up. Any reason why this might happen?

[2015-06-16 18:31] talyssonoc commented on #25
I don't know exactly, it should be working, can you show me your `composer.json` ?

[2015-06-16 18:32] joshhornby commented on #25
[code]

And the lock file

[code]

[2015-06-16 18:34] talyssonoc commented on #25
Well, that's weird... Did you registered the service provider on your config file ? Do it and then restart your `php5-fpm` service.

[2015-06-16 18:36] joshhornby commented on #25
Yes, I am using the example you provided above. All I am seeing on screen is `@react_component('Message', [ 'name' => 'Hue' ])`

And the html looks like so

[code]

[2015-06-16 18:38] talyssonoc commented on #25
Damn, that's really weird, it should be working. @a-moses, that's what is happening to you too ?

[2015-06-16 18:43] joshhornby commented on #25
http://laravel.com/docs/5.1/blade#extending-blade Have you seen this @talyssonoc

[2015-06-16 18:45] talyssonoc commented on #25
I've seen, @joshhornby, but the `Blade::directive` doesn't exist at Laravel 5.0, I've tried to make it work with both 5.0 and 5.1 and in the Laravel repository I was told it would work.

[2015-06-16 18:50] joshhornby commented on #25
Can you screen shot what you are seeing on your screen? Might also worth re opening this issue.

[2015-06-16 19:07] talyssonoc commented on #25
Sure, @joshhornby, here it is:

![react-laravel](https://cloud.githubusercontent.com/assets/4325587/8191976/8e7ee788-1441-11e5-902e-2c854b7c5645.png)

I'm thinking about that, just wanna know if it is happening because of yours configs or a bug.

[2015-06-16 19:11] joshhornby commented on #25
If you run `composer update` outside of your homestead ssh do you get an error?

[2015-06-16 19:14] talyssonoc commented on #25
You mean, run `composer update` from the host machine ?

[2015-06-16 19:15] joshhornby commented on #25
Yeh

[2015-06-16 19:17] talyssonoc commented on #25
Nope, it runs correctly because I also have `v8js` in my host machine (but it is not necessary, but in this case I don't get a error because composer would check the dependencies like v8js in the host machine, if you run it from ssh it will check the dependencies inside homestead machine.

[2015-06-16 19:18] joshhornby commented on #25
Not sure this is the case, I have the following error when running composer update outside on the VM:

[code]

[2015-06-16 19:20] talyssonoc commented on #25
Yes, it's because of this, but it its bease your host machine doesn't have v8js, but it is not needed, you should run `composer update` from inside your homestead machine.

[2015-06-16 19:21] joshhornby commented on #25
Yes that is what I thought, but was just checking because I can't think of a reason why this isn't working!

[2015-06-16 19:27] talyssonoc commented on #25
Have you tried installing v8js in your physical machine and run your Laravel server from it, without using Homestead ?

[2015-06-17 11:52] talyssonoc commented on #14
Hey, @brenelz, sorry by the delay, I've been busy ! I'm thinking about building something using [laroute](https://github.com/aaronlord/laroute), what do you think ?

[2015-06-20 10:50] a-moses commented on #14
@brenelz  good direction we need something like [isomorphic app](http://nerds.airbnb.com/isomorphic-javascript-future-web-apps/) .

send to client all route needed for the page if javascript fallback  or client going to other page route it from  the server.

[2015-06-20 10:56] a-moses commented on #25
@talyssonoc
I compiled V8 from the source and all  work well  as expected until make-test failed.

[2015-06-20 12:15] talyssonoc commented on #25
It will happen depending on your machine, try to `make install` anyway and see if it works, @a-moses

[2015-06-21 01:15] nrcook opened #28 "@react_component directive not working?"
Laravel 5.1, React-laravel 0.9.1

Tried on a couple different Laravel apps, both 5.0.\* and 5.1.  Neither one seemed to render the @react_component directive.  Is there a missing step for getting this up and running that's not in the Readme?

Thanks!

[2015-06-22 10:31] lgt commented on #28
+1

[2015-06-22 14:01] talyssonoc commented on #28
Well, it should be working, sadly you're not the first to say this, I don't know yet what's happening. Can you try to use this example project (I should link to it at readme) https://github.com/talyssonoc/react-laravel-example ?

[2015-06-23 00:55] nrcook commented on #28
Just tried, no that example project is not working for me either.  Running this on Homestead, though not sure why that would make a difference.

[2015-06-23 22:57] nrcook commented on #28
Just looked through some of the source, looks like you are using Facades now?  I changed a line in the sample project to `{!!React::render('Message', [ 'name' => 'Hue' ])!!}` and it did work.

[2015-06-23 23:03] talyssonoc commented on #28
@nrcook actually react-laravel always used facades, what `@react_component` directive did was call this facade, good to know that the facade work, the error must be in the registration of the directive...

[2015-06-27 05:45] a-moses commented on #28
maybe we need to compile specific version of V8 lib  not the last  one and not to   older one   like 1.3

what is the working version stable  of v8  lib working on ubuntu ?

[2015-06-27 05:53] a-moses commented on #25
@talyssonoc  of course i tried and  v8 didn't work .
we need to find the stable version for ubuntu homestead

[2015-07-01 18:48] ghost opened #29 "Are components cached somewhere?"
Tried running the react larval example, the "Message" directive worked fine.
However changes to the public/js/components.js file does not seem to affect the rendering of components one bit. I deleted the file and it still works the same way.

[2015-07-02 23:06] talyssonoc commented on #29
It caches only in production environment: https://github.com/talyssonoc/react-laravel/blob/master/lib/ReactServiceProvider.php#L49

[2015-07-10 00:25] ghost commented on #29
@talyssonoc Worked perfectly, thanks!

[2015-07-10 00:25] #29 closed, assigned to nobody

[2015-07-10 08:50] karlonauger commented on #14
@talyssonoc I like the laroute idea.
For me, the real appeal of a client-side app is the quick response of the UI, as the app only gets page specific (often Json) data from the server, following navigation.
Would this allow us to access important Laravel features like route specific middleware, and route bindings?

[2015-07-10 12:00] talyssonoc commented on #14
Hi, @karlonauger, as it would just generate the URL for the route I would say yes, it would allow access to middlewares and so on. I think it would let React just make ajax requests to the given URL and, there, you can say what will be sent to the client (something like this pjax example: https://github.com/defunkt/jquery-pjax#server-side), what do you think ?

[2015-07-10 18:11] karlonauger commented on #14
That sounds great! It would save me a ton of time trying to re-design, and duplicate client-side authentication.

[2015-07-14 09:54] TomCaserta commented on #28
Yeah right now you cannot have a deferred service provider and a blade directive as it doesnt know to load the service provider associated with the directive. Hopefully in future laravel versions it would be possible for that to work. For now, I personally have just set the deferred property to false to get it to work.

[2015-07-20 11:37] talyssonoc commented on #28
Well, I didn't know that ! Gonna fix it later today (a PR would be good, too). Thanks, @TomCaserta !

[2015-07-24 16:35] 18601673727 opened #31 "could someone please set minimum-stability to stable?"
I must to say this package is a great work, but I need to use this package in production env, so `"minimum-stability": "dev"` as mentioned in doc is too dangerous to me, or is there a way to set minimum-stability to dev for specific package?

[2015-07-25 04:58] #22 closed, assigned to nobody

[2015-07-25 05:00] talyssonoc commented on #31
@18601673727 You can use `prefer-stable` option :smile: https://getcomposer.org/doc/04-schema.md#prefer-stable

[2015-07-25 05:00] #31 closed, assigned to nobody

[2015-07-25 05:13] #28 closed, assigned to nobody

[2015-07-26 17:42] pbreah opened #33 "Full example"
Excellent work, and appreciate you sharing it.

I'm new to React JS and recently familiar with Blade.

It would be great to have a full example on how to work with this component.

I have searched around the Web for examples using react-laravel, but since this is a fairly new subject specially with Laravel, it would be really helpful to have a full "Hello World" example using Laravel on how to imp

[2015-07-27 02:18] talyssonoc commented on #33
Hey, glad you liked the project !

Actually, there's a example (I should put the link to it on README, I know :confused: ). The version and configuration is a little bit outdated, but since you already configured it it will be useful for you, since the view and component files are still up to date. Here it is: https://github.com/talyssonoc/react-laravel-example

Thanks !

[2015-07-27 13:12] talyssonoc opened #34 "Use package for assets instead of put react.js in vendor"
Use this package instead: https://github.com/koala-framework/composer-extra-assets
Or this: https://github.com/francoispluchino/composer-asset-plugin

[2015-07-27 17:53] rjksn opened #35 "Debugging"
Is there a way to enable debugging through this?

The ability to turn this into a more comprehendible error:

[2015-07-28 19:44] pbreah commented on #33
Thank you for your help. I'm starting to understand how this works.

Also wanted to let you know that the blade directive you have doesn't work for me using Lavavel 5.1.8 (LTS)

I did several tests using dd() and the Blade::extend() callback is never called. I'm using your latest commit: c1572d5704ce2f31c63b479f10f3b791a94bbe91

The only way this works is using:

{!! React::render() !!}

Thanks

[2015-07-29 22:12] 18601673727 commented on #25
`v8js 0.2.1` is out and I tried with `Laravel 5.1 and react-laravel 0.9.1` still not working...

[2015-07-29 22:51] 18601673727 commented on #25
I just tried `{!! React::render('Message', [ 'name' => 'Hue' ], [ 'prerender' => true ]) !!}` and it works!

[2015-07-30 00:18] 18601673727 commented on #20
@limweb Actually you could use Elixir's babel() function to transpile your JSX into javascript in `Laravel5.1`

[2015-08-03 10:50] cklouman opened #37 "License"
Hey @talyssonoc, this package looks awesome and I'm considering it for an upcoming project. There is however no license - will you consider including one? I will not be able to use it without an explicit open-source license unfortunately.

[2015-08-03 11:53] talyssonoc commented on #37
Actually the license is at the `composer.json` file, but I got to admit I forgor to put it on the repository, gonna do it soon ! For now, you can consider the `composer.json` that say it is MIT license (and it won't change). :D

[2015-08-03 12:39] talyssonoc commented on #35
Actually it is a JS error message and change it (like show the stack trace) should be done at  `react-php-v8js` repository. Maybe react-laravel should allow to use a custom [error handler](https://github.com/reactjs/react-php-v8js/blob/master/ReactJS.php#L91) ? A PR for this would be welcome !

[2015-08-03 12:47] talyssonoc commented on #20
@18601673727 When I answered this question Babel hadn't landed at Elixir yet, but I agree with him @limweb, use Babel would be a better choice !

[2015-08-03 12:53] talyssonoc commented on #33
Damn, it is working with some people, and not working with others :confused: , gotta find out why this is happening x_x

[2015-08-03 13:44] cklouman commented on #37
cool thx! - thought I must have missed something :)

[2015-08-03 13:44] #37 closed, assigned to nobody

[2015-08-04 17:47] tylervick commented on #33
I'm also getting this issue as well. Before I integrate this into my existing laravel project I'd like to see how this fully works.

[2015-08-06 03:49] kolbobby opened #38 "502 Bad Gateway"
I am using a fresh Homestead box with V8JS version 4.6.0 installed.

When I try to render the view using

[code]

OR

[code]

I get a 502 Bad Gateway. I have researched for nearly 8 hours, trying several different ways of fixing this problem through nginx and php5-fpm. But simply changing the above code to standard text, the application works without any issues. This is the exact error that is bei

[2015-08-07 11:33] talyssonoc commented on #20
@limweb @18601673727 I've built this to use internally, what do you think ? https://github.com/talyssonoc/php-babel-transpiler

[2015-08-16 18:24] TreyBastian opened #39 "Composer out of date?"
My mistake I made a real dumb typo.

[2015-08-16 18:27] #39 closed, assigned to nobody

[2015-08-17 11:12] matthewfowles opened #40 "IE9 Invalid calling object"
Hi

I am having issues with IE9.

![Uploading image.png
<img width="704" alt="screenshot 2015-08-17 11 55 30" src="https://cloud.githubusercontent.com/assets/622010/9303783/2e94c662-44d9-11e5-9248-e4a17a4adfa8.png">
…]()

I just wondered if anyone had seen this behaviour before and may know a work around.

Thanks

[2015-08-17 18:33] mihirsoni opened #41 "@react_component directive is not working ?"
Hi ,

I have been trying since long to make it react-laravel work but it seems may be I am missing something, I have installed all the required dependencies  after that I tried the demo project but still it didn't work,

https://github.com/talyssonoc/react-laravel-example

/Mihir

[2015-08-18 12:22] talyssonoc commented on #41
Hi, @mihirsoni, some users are having a issue with the directive, as you can see in @nrcook's answer here: https://github.com/talyssonoc/react-laravel/issues/28#issuecomment-114667043

You can use the facade directly until I (or somebody else that send a PR) fix it, I hope it works for you!

[2015-08-18 12:32] talyssonoc commented on #40
Well, that's weird, since this is [line 31](https://github.com/talyssonoc/react-laravel/blob/master/assets/react_ujs.js#L31). What React Laravel version are you using?

[2015-08-18 12:39] mihirsoni commented on #41
@talyssonoc  Hey , I tried to use the same but it doesn't run and give us segementation fault, do we need to add any extra configs for the same ?

[2015-08-18 12:42] talyssonoc commented on #41
Well, it should work like this... what `V8Js` version are you using?

[2015-08-18 13:12] mihirsoni commented on #41
@talyssonoc  here is the my phpInfo details.

V8 Javascript Engine    enabled
V8 Engine Compiled Version  4.6.0
V8 Engine Linked Version    4.6.0 (candidate)
Version 0.2.1

[2015-08-18 13:44] matthewfowles commented on #40
[code]

It's all a bit weird. The only thing I can think of is it might be trying to re-create global vars that already exist? As the components are on the window.

I also just get nothing in IE8. Not sure if this is related.

[2015-08-21 13:34] talyssonoc commented on #38
@kolbobby Is your v8js installed correctly? If you run `php -m` does it appears there?

[2015-08-22 13:39] talyssonoc commented on #41
@mihirsoni, can you please change the source of `vendor\talyssonoc\react-laravel\lib\ReactServiceProvider.php` to this and check if it works:

[code]

Tell me if it does work, so I can put it in master branch!

[2015-08-22 14:00] talyssonoc commented on #40
@matthewfowles Can you try this instructions here and say me if it does work? https://github.com/talyssonoc/react-laravel/issues/41#issuecomment-133704745

[2015-08-22 14:01] talyssonoc commented on #33
@pbreah and @tylerjvick Can you try this instructions here and say me if it does work? https://github.com/talyssonoc/react-laravel/issues/41#issuecomment-133704745

[2015-08-22 14:01] talyssonoc commented on #28
@TomCaserta @nrcook @lgt can you try this instructions here and say me if it does work? https://github.com/talyssonoc/react-laravel/issues/41#issuecomment-133704745

[2015-08-22 14:02] talyssonoc commented on #25
@joshhornby @a-moses @18601673727 Can you try this instructions here and say me if it does work? https://github.com/talyssonoc/react-laravel/issues/41#issuecomment-133704745

[2015-08-22 14:05] talyssonoc commented on #40
@matthewfowles huuum, maybe it's a bug between React and IE9? If you click on `react_ujs.js, line 31, character 9` where does it take you to?

[2015-08-24 16:37] matthewfowles commented on #40
It takes me too the right line.

I have actually solved it. Not sure exactly what it was but I was trying to fix IE8 as well which had separate issues. Once I included all suggested polyfills and added some addEventListener polyfills it started working.

I'm not sure quite what the issue was but thanks for the help :+1:

[2015-08-24 16:37] #40 closed, assigned to nobody

[2015-08-24 16:47] talyssonoc commented on #40
@matthewfowles Well, it must be because of this, glad it works for you now!

[2015-08-27 11:52] dwightwatson opened #42 "Configuration caching is unnecessary in Laravel 5.x"
Laravel 5.1 supports config caching out of the box (with the `config:cache` command) which would generally be used after a deployment to cache any new configuration values. This makes the manual caching performed by the service provider unnecessary, and even more painful than it would be otherwise if you wanted to update the configuration in a release - you'd have to manually clear the cache.

Hap

[2015-09-13 00:29] kolbobby commented on #38
@talyssonoc Sorry for such a late response, I just returned from a trip. When I run that, v8js comes up in the list under _PHP Modules_.

[2015-09-16 21:55] carloct commented on #38
Hi,

@kolbobby I ran in the same issue, I am running php as fast-cgi with nginix, restarting php "sudo service php5-fpm restart" fixed the problem

[2015-09-18 13:59] carloct commented on #41
just a hint, this problem actually gave me headaches.

try, `php artisan view:clear`

in my case it had a different effect than `php artisan cache:clear`

[2015-09-18 14:05] carloct commented on #33
Hi,

I think we see inconsistent behaviours because of:
1. the view cache layer, Blade actually compiles the views in plain PHP, if you extend/edit the compiler you need to recreate those views, try to clear the view cache `php artisan view:clear`after any change to the compiler.
2. I suspect the Blade::extend() syntax has changed, you can get around it using Blade::directive, and get rid of the m

[2015-09-21 12:23] talyssonoc commented on #33
Hi, @carloct

Does the `1` works for you? If so, I'm gonna put it on `README`!
About `2`, I didn't used `directive` because it is on the [docs for Laravel 5.0](http://laravel.com/docs/5.0/templates) and I wanted to keep it compatible with Laravel 5.x.

[2015-09-21 12:24] talyssonoc commented on #33
@pbreah @tylerjvick can you check if @carloct 's answer work for you?

[2015-09-21 12:26] talyssonoc commented on #41
@mihirsoni can you check this so I can close the issue or try to solve some other way? Also, can you try to run `php artisan view:clear` and see if the component does render?

[2015-09-21 12:36] carloct commented on #33
@talyssonoc

1 worked for me, but I also changed it into a directive, so it might be both.

[2015-09-21 12:40] talyssonoc commented on #33
Thanks, @carloct! Would you mind to change it back to `extend` just to test what of the solutions did it?

[2015-09-21 20:47] kolbobby commented on #38
@carloct Sadly, this did not solve the issue for me; tried that several times and it still is not working.

[2015-09-22 02:10] talyssonoc commented on #42
Sorry by the delay, @dwightwatson. A PR for this would be awesome, feel free to do it! :)

[2015-09-23 17:48] dotMastaz opened #43 "The requested PHP extension v8js is missing from your system"
Hello,

I install v8js in homestead... Phpinfo() return v8js enabled...
But when i try : composer update, i have this error :+1:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - reactjs/react-php-v8js dev-master requires ext-v8js >=0.1.3 -> the requested PHP extension v8js is missing from your system.
    - talyssonoc/react-laravel v0.9.1 requires reac

[2015-09-23 18:54] dotMastaz commented on #43
Ok, i run it into the server (homestead) : vagrant ssh, compose rupdate
And it's ok !!

[2015-09-23 18:54] #43 closed, assigned to nobody

[2015-09-28 09:37] Jegulsky commented on #41
@talyssonoc, I checked with ReactServiceProvider code replacement - no result. I have similar situation, V8 installed and works well, {!! React::render('Message', [ 'name' => 'Hue' ], [ 'prerender' => true ]) !!} works fine, but @react_component('Message', ['name' => 'Hue']) doesn't renders.
I have simple nginx + php-fpm stack insalled on Yosemite (and Ubuntu at hosting side) w/o Homestead.

[2015-09-28 12:29] talyssonoc commented on #41
Huuum, that's weird :disappointed:. Did you try the `php artisan view:clear`?

[2015-09-28 12:35] Jegulsky commented on #41
Yep, I tried all of guessed manipulation throw the related issues, but ain't get result. How can I help? Where I should look for? At least simple blade call of {!! React::render(...) !!} works. Any suggestion?

[2015-09-28 12:38] talyssonoc commented on #41
For some reason the directive is not being registered (some that tested said that the code do not pass inside the closure of the registering of the directive), I never passed by this before, do you know some reason for it to happen?

[2015-09-28 12:40] Jegulsky commented on #41
btw did you try Flux? will it work with such structure? I was just going to check, but stumbled at component config.

[2015-09-28 12:42] talyssonoc commented on #41
I didn't tried yet, but I see no reason for Flux don't work, it just renders components on the server, if you use some lib that allows application bootstraping (like [Alt](https://github.com/goatslacker/alt)) I guess it would work!

[2015-10-02 05:02] #34 closed, assigned to nobody

[2015-10-09 14:43] ravenwilde opened #45 "Better instructions for setup/installation on Vagrant/Homestead"
I've been having a hell of a time getting this to work in a Homestead box... do I simply follow this:

It seems like there must be more to it than this - also, wouldn't I need to provision this somehow in my Vagrantfile?

[2015-10-12 10:13] TomCaserta commented on #45
There isnt more to it than that if you want the older v8js version just for a non production environment (its slightly slower!).

You can probably expand that a bit more with:

[code]

That being said if you want the latest version of v8js there is of course more to it and its an absolute pain to install on any machine. It takes a good hour and there is a few options that I cant name off the top o

[2015-10-12 14:03] ravenwilde commented on #45
So... I've done a lot of research/reading over the last few days and gotten everything to work on my Homestead instance. Although, really, we should generate some better Vagrant/Homestead specific instructions for other people. Anyway...

Basically, every time you launch a vagrant box (which Homestead is) you have to provision it, which just means that a set of instructions are run that set up the

[2015-10-12 15:41] josh-taylor opened #46 "Error when running tests that contain @react_component directive"
I'm getting an error that `../vendor/autoload.php` could not be found when running phpunit on a page that contains the `@react_component` directive.

Stack trace:

[code]

[2015-10-13 20:43] dotMastaz opened #47 "v8js compil error in CentOS"
Hello,

I try to compil v8js to CentOS but i have an error :

checking for V8 version... NONE
configure: error: could not determine libv8 version

Any idea ?
Thank you !!

[2015-10-16 03:12] talyssonoc commented on #47
Did you make sure you have done this step? https://github.com/phpv8/v8js/blob/master/README.Linux.md#compile-latest-v8

If so, check the paths used in the tutorial, maybe some of them is different on CentOS!

Hope it helps :smile:

[2015-10-16 03:12] #47 closed, assigned to nobody

[2015-10-16 03:14] talyssonoc commented on #46
Try to define a `ENVIRONMENT` constant with the value `teste` (like this: https://github.com/talyssonoc/react-laravel/blob/master/phpunit.php#L7), I guess I forgot the case where a test is running but this constant does not exist.

If it solves, a PR that solves this would be welcome :smile:

[2015-10-16 03:17] talyssonoc commented on #45
Thanks, @ravenwilde, the provisioner would be great! I guess we could put it somewhere in the repository, so users wanting to use `react-laravel` with Homestead would just call this provisioner from inside ther vagrant provition script?

[2015-10-16 08:12] josh-taylor commented on #46
I have solved it for now adding `<const name="ENVIRONMENT" value="test"/>` in my phpunit.xml file. Seems a bit redundant having set `APP_ENV=testing` in there also.

Would it make more sense to use a similar sort of thing as Laravel does so it doesn't need to be declared twice? If so, I could maybe start looking at a PR over the weekend for this?

[2015-10-16 11:23] talyssonoc commented on #46
I guess we could use `APP_ENV` then, and read it with `$_ENV` (but it's also important to remember that the user might be testing with Behat or another test tool, maybe we should check if the same env var with the same value is exported for them too).

For _as Laravel does_ you mean using the env var or something else?

[2015-11-08 18:48] limweb commented on #20
thanks.

[2015-11-17 16:42] 18601673727 opened #49 "Update react to v0.14"
please see [this](https://www.npmjs.com/package/react-bootstrap#react-v0-13-support)

[2015-11-21 11:47] talyssonoc commented on #49
Waiting for this to be merged to update to v0.14: https://github.com/reactjs/react-php-v8js/pull/19

[2015-11-22 15:36] Danjavia opened #50 "talyssonoc/react-laravel v0.10.2 requires reactjs/react-php-v8js dev-maste r -> no matching package found."
Can you restore value in package.json from dev-master to master?

[2015-11-22 16:35] talyssonoc commented on #50
@Danjavia, can you show me the full error message here?

[2015-11-22 16:37] Danjavia commented on #50
Yes.

  Problem 1
    - Installation request for talyssonoc/react-laravel 0.10.2 -> satisfiable by
 talyssonoc/react-laravel[v0.10.2].
    - talyssonoc/react-laravel v0.10.2 requires reactjs/react-php-v8js dev-maste
r -> no matching package found.

Potential causes:
- A typo in the package name
- The package is not available in a stable-enough version according to your min
  imum-stability setting

[2015-11-22 16:56] talyssonoc commented on #50
Did you remembered to set `"minimum-stability": "dev"` on your `composer.json` like it's said [here](https://github.com/talyssonoc/react-laravel#composer)?

[2015-11-22 17:07] Danjavia commented on #50
yes I do but appear another error also

Check it:

  Problem 1
    - The requested package minimum-stability could not be found in any version,
 there may be a typo in the package name.
  Problem 2
    - Installation request for talyssonoc/react-laravel 0.10.2 -> satisfiable by
 talyssonoc/react-laravel[v0.10.2].
    - talyssonoc/react-laravel v0.10.2 requires reactjs/react-php-v8js dev-maste
r ->

[2015-11-24 17:07] 18601673727 commented on #49
@talyssonoc  Cool :+1:

[2015-11-27 14:36] 18601673727 opened #52 "Doesn't work with webpack"
Hi Talysson,
I'm trying to move Elixir's babel() to straight `webpack`, but `v8js` seems didn't recognize a component file like this:

[code]

which gives me error like this:

[code]

but this works:

[code]

[2015-11-28 12:51] 18601673727 commented on #52
I found some kinda of a workaround to resolve this

[code]

[2015-11-28 14:27] talyssonoc commented on #52
Yes, you have to make them global, since V8Js doesn't know about CommonJS! It's here: https://github.com/talyssonoc/react-laravel#usage

[2015-11-28 14:28] #52 closed, assigned to nobody

[2015-12-01 18:54] talyssonoc commented on #50
Can tou show me your `composer.json`, @Danjavia?

[2015-12-02 14:00] Danjavia commented on #50
[code]

}

[2015-12-02 14:12] talyssonoc commented on #50
oh, `"minimum-stability": "dev"` is not a dependency, it must be in a separated key, like right before "config", something like that:

[code]

[2015-12-02 14:14] Danjavia commented on #50
Ok perfect i will to try it thanks @talyssonoc

[2015-12-02 14:18] talyssonoc commented on #50
Could you close the issue if it works, @Danjavia? :smile:

[2015-12-02 14:20] Danjavia commented on #50
thanks again  I will to write to you when I Do ;)

[2015-12-02 16:23] 18601673727 opened #53 "Have you guys ever succeed using this with React addons?"
I did this:

[code]

and

[code]

:disappointed_relieved:

[2015-12-02 16:25] 18601673727 commented on #53
and I'm pretty sure that I'm using this file `react-with-addons.js` to compile on both side.

[2015-12-03 03:16] talyssonoc commented on #53
Try to use: `mixins: [React.addons.LinkedStateMixin]`

[2015-12-10 15:44] talyssonoc commented on #50
@Danjavia did it worked?

[2015-12-11 05:52] Danjavia commented on #50
Sorry I cannot yet, pls sorry I will to do in a few days :)

[2015-12-12 20:40] vadimsg opened #54 "es6"
Is someone using this package with es6/export/import?
Can't get it to work. If yes, could you provide a simple example?
Thanks!

[2015-12-22 20:51] talyssonoc commented on #54
It's something like this other issue, take a look: https://github.com/talyssonoc/react-laravel/issues/20

[2016-01-05 12:06] talyssonoc commented on #50
@Danjavia?

[2016-01-07 03:18] Danjavia commented on #50
Not really, sorry my boss has change the app requirements! Thx!!! :)

[2016-01-07 12:05] #50 closed, assigned to nobody

[2016-01-09 12:55] htchaan commented on #49
[reactjs/react-php-v8js#19](https://github.com/reactjs/react-php-v8js/pull/19) has been merged, please help.

New install won't work at the moment: `V8Js::compileString():1: TypeError: Cannot read property 'renderToString' of undefined`.

[2016-01-09 13:15] htchaan commented on #49
Prerender works again with the `react-bundle.js` from [example of react-php-v8js](https://github.com/reactjs/react-php-v8js/tree/master/example).

[2016-01-15 17:04] TomCaserta commented on #54
I am using this with ES2015, I did however have to export the components to the window object since browserify was containing all of my components however a simple:

[code]

Worked so I could use it with the laravel elixir browserify/babel recipe. Is this what you was referring to, or are you looking to use it without any transpiling to ES5?

[2016-01-16 12:20] kishanj918 opened #59 "V8Js::executeString():1: TypeError: Cannot call method 'renderToString' of undefined"
I am getting this error while using this package..

[2016-01-18 18:54] TomCaserta opened #60 "Construct ReactJS only when needed."
I have been profiling and building a faster version, as I have added custom methods which are only relevant to my codebase I have not had the time to make a pull request to this library. This issue is just a reminder for me to make a PR at some point. In any case:

Currently regardless of if the page has prerendering enabled the server will still construct the ReactJS class which in turn executes

[2016-01-18 20:41] TomCaserta commented on #59
This is because React now has ReactDOMServer. The React.renderToString method no longer exists. The react vendor files distributed with this package needs to be updated.

To get around this for now, download react.js and react-dom.js and react-dom-server.js, concatenate them together and in the config/react.php change the "source" to point to concatenated file.

See #49

[2016-01-18 21:20] TomCaserta commented on #38
@kolbobby
Very late response here sorry, if you are still having this issue and would like to solve it, did you compile v8js yourself?

Do you remember if you did snapshot=off (if you compiled it yourself)?

If you do not remember can you try the following in a file and running it with php:

[code]

And letting me know if it segmentation faults or if it correctly outputs "1";

[2016-01-20 16:19] #49 closed, assigned to nobody

[2016-01-20 16:19] #59 closed, assigned to nobody

[2016-01-22 01:33] talyssonoc commented on #60
@TomCaserta indeed! I'll be glad to see a PR to fix that and conditionally load the source code only if prerender is enabled!

[2016-01-22 01:33] #54 closed, assigned to nobody

[2016-01-22 01:33] talyssonoc commented on #53
@18601673727?

[2016-01-22 01:34] #20 closed, assigned to nobody

[2016-01-22 01:36] #33 closed, assigned to nobody

[2016-01-22 01:37] #45 closed, assigned to nobody

[2016-01-22 21:59] 18601673727 commented on #53
@talyssonoc Yeah, I think this could been closed, thanks for the help!

[2016-01-22 21:59] #53 closed, assigned to nobody

[2016-01-25 00:52] #60 closed, assigned to nobody

[2016-02-19 16:13] jfefes commented on #41
+1 I just cloned the example project, `{!! React::render('Message', [ 'name' => 'Hue' ]) !!}` was the only way I could get it to work.

[2016-03-19 06:27] cargie opened #65 "composer minimum-stability"
is minimum-stability really required for installing this package because if I set it to the composer, all my packages will be updated to dev and im afraid that it will break.

[2016-03-21 19:12] BeggarsMattM opened #66 "v8js on Laravel Homestead with php7"
I just can't get the above combination to work no matter what I try.

pecl install v8js-0.2.0 fails because "libv8 must be version 3.24.6 or greater"

pecl install v8js-0.1.3 fails because "ext/standard/php_smart_str.h: No such file or directory"

All dependencies are installed as far as I can see. Is there any help for this at the moment?

[2016-03-21 19:42] TomCaserta commented on #66
Have you tried installing a newer version of libv8 from source?

[2016-03-23 14:24] BeggarsMattM commented on #66
Ah yes, sorry, it took a couple of hours to fumble my way through the documentation but you're completely correct, that does work. If I have to do this again every time I restart Vagrant I'm not sure it's a realistic proposition though! And for all my efforts I am rewarded with "V8Js::compileString():1: ReferenceError: Message is not defined"... but I'm sure that's a completely different problem.

[2016-03-23 15:49] TomCaserta commented on #66
Hah yeah its an absolute pain, especially when you recreate your vagrant vm (shouldnt be required every time you restart though). We do need a better way but it does mean some form of provision script that'd take an hour to build libv8 (at least on my machine!).

Glad its at least in a state of semi working!

That reminds me, we do need better error handling too.

[2016-03-24 00:36] kenpeter opened #67 "Multiple react apps within single laravel instance"
Right now, all react components goes into 'components' => public_path('js/components.js'). Is it possible to have something like

In config/react.php

[code]

[2016-03-24 16:33] KonstantinKolodnitsky opened #68 "'prerender' => false is not working"
Hello.
I'm trying to render on the client side by setting `'prerender' => false` but it does nothing. What do I do wrong?

[2016-03-24 16:42] KonstantinKolodnitsky commented on #68
Here is an example of my component

[code]

Calling it

[code]

[2016-03-24 16:48] KonstantinKolodnitsky commented on #68
If I set it to`true` it is working but `componentDidMount` is not fired. But if I set it to `false` nothing happens at all.

[2016-03-24 17:14] TomCaserta commented on #68
Are there any errors in the console? What  version are you using and what browser?

To me this sounds like the javascript responsible for loading React and rendering is getting called after the document has already downloaded. I did put in a fix that should have fixed this by checking if the document was already loaded (and then just render it as normal instead of setting an event handler) but the

[2016-03-24 17:26] KonstantinKolodnitsky commented on #68
Hi Tom
I use v0.11. Chrome.
Yes, there are some error, but they were before I added componentDidMount.

react.js:18794 Warning: render(): Target node has markup rendered by React, but there are unrelated nodes as well. This is most commonly caused by white-space inserted around server-rendered markup.

react.js:18794 Warning: Unknown DOM property enctype. Did you mean encType?

[2016-03-24 17:39] TomCaserta commented on #68
Hmm so thats with prerender on correct? What about with it off?

If there is no errors and nothing react like is appearing in the container then I suspect react_ujs.js is not doing its job... Are you able to place a couple console.log statements in the reactujs file to see if its actually getting to the handleEvents function and what route it is taking (or of course just set breakpoints). Or alter

[2016-03-24 17:44] KonstantinKolodnitsky commented on #68
Nevermind. Errors are from another component. I've disabled it and errors are gone.

There is no error with this component either prerender enabled or disabled. Also I'd say that with prerender disabled the component is not loaded at all. I've put console.error('componentDidMount'); into the getInitialState and there is no error in the console (if prerender set to false)

[2016-03-24 17:47] TomCaserta commented on #68
Yeah, just trying to figure out why it is not loading the component - especially if another component is getting loaded correctly on the same page. Quite odd, if you could just try putting the console.error statement in the react_ujs.js file then we can see if its even attempting to render the component.

[2016-03-24 17:51] KonstantinKolodnitsky commented on #68
Yes, it does show my error message.
I've put console.error right after ReactLaravelUJS.handleEvents();

[2016-03-24 17:54] KonstantinKolodnitsky commented on #68
Also I've checked if condition in handleEvents and the statement

[code]

 is false

[2016-03-24 17:55] KonstantinKolodnitsky commented on #68
document.readyState is 'loading'

[2016-03-24 17:56] TomCaserta commented on #68
In that case it should add the event to load once the document has finished loading. Does mountComponents() get called? Whilst we are at it could you try logging with: console.log(reactClass, props) just before line 35 and see if that shows anything?

[2016-03-24 18:01] KonstantinKolodnitsky commented on #68
`mountComponents` is called (added console at the top) but `elements` is empty so `for` is doing nothing

[2016-03-24 18:04] TomCaserta commented on #68
Hmf, must be something to do with the HTML that we are putting into the page. Can you paste the html that the `@react_component` line generates? Not sure what could be causing that though. Not that this should matter but does it look like there is any tag mismatches that could possibly be causing it not to find the element.

Just trying to make sense of it really, are you using jquery on the page?

[2016-03-24 18:14] KonstantinKolodnitsky commented on #68
Wow. I've found a problem. I had a commented blade tags and when they was compiled one was compiled incorrectly so I had {{-- in the html.

As usually most of the problems are made by developers :)
Now it's working (I hope). componentDidMount is called so I'm sure the component is loaded.

Thank for your help!

[2016-03-24 18:15] TomCaserta commented on #68
Hah small little errors like that always creep in. No problem, glad its working now!

[2016-03-24 18:20] TomCaserta commented on #67
Currently it is not possible, I guess you could concatenate the files into one using laravel-elixir/gulp. In any case this sounds like a good feature to add. I'll make a pull request sometime soon.

[2016-03-24 18:22] #68 closed, assigned to nobody

[2016-03-29 14:55] BeggarsMattM commented on #66
I wonder if you could help me work out what's gone wrong with my install, given that if I try to create a component with 'prerender' => true I get the above error ('V8Js::compileString():1: ReferenceError: Message is not defined'). 'prerender' => false works fine!

[2016-03-29 14:58] TomCaserta commented on #66
Hmf, it sounds like the javascript is not being loaded serverside. Can you double check your paths in your configuration to the javascript file and make sure the Messages class exists in that file.

[2016-03-29 16:16] BeggarsMattM commented on #66
All the paths in config/react.php look correct to me... very confusing!

[2016-03-29 16:43] BeggarsMattM commented on #66
Actually I can mess around with the contents of config/react.php quite a lot and it doesn't make any difference that I can see. Is there any way that could not be being found?

[2016-03-29 17:39] BeggarsMattM commented on #66
Okay, never mind, some liberal clearing of everything I could think of with artisan seems to have resolved the issue. We have liftoff!

[2016-03-29 17:39] #66 closed, assigned to nobody

[2016-04-06 10:20] yukulelix commented on #14
Hey there, any update on this ? Cheers ;)

[2016-04-07 14:54] rasmuswoelk commented on #45
Hi. I'm having issues with this. Any news on that provisioner? :+1:

[2016-06-04 11:27] inkong opened #71 "Syntax error"
HI

Do you have any idea why I'm getting this error below when trying to add this in my view @react_component('Message', [ 'name' => 'Hue' ])

**V8Js::compileString():18903: SyntaxError: Unexpected token <**

[2016-07-11 09:02] ghost commented on #65
just use prefer stable in your composer file and composer will install stable packages where possible

[2016-07-27 02:38] markvital commented on #71
+1 have similar issue, which is hard to troubleshoot

[2016-08-26 11:00] lucacerretani opened #72 "configuring jsx"
Hi, how to configure react-laravel to use jsx?
#20

[2016-10-26 15:46] willvincent commented on #67
See PR #75

[2016-10-26 15:47] willvincent commented on #42
See PR #74

[2016-10-27 11:10] #42 closed, assigned to nobody

[2016-10-27 21:15] #67 closed, assigned to nobody

[2016-11-09 19:47] francoislefebvre commented on #71
Same here. Anyone with a solution?

[2016-11-10 02:53] talyssonoc commented on #71
@markvital  @francoislefebvre this lib does not compile JSX, I recommend compile it separately with Babel.

[2016-11-10 02:53] #71 closed, assigned to nobody

[2016-11-10 02:53] #65 closed, assigned to nobody

[2016-11-10 16:01] francoislefebvre commented on #71
Thanks.

Solution :

[code]

gulpfile.js

[code]

[2016-11-16 11:20] four-eyes-04-04 commented on #72
Hi! I am also new and wondering the same thing, I would like to ask are you not using gulp or webpack or grunt or anything like that to mix your scripts? I believe it is their job.

[2016-11-16 11:23] aprilmintacpineda opened #76 "Configuring"
Hi I am new to laravel and to reactJS. I am using gulp to mix all my scripts into one file. What am I suppose to put in these? how am I suppose to configure react-laravel? I have a fresh laravel installation with `react-laravel`, react-and-friends: `react.js, react-dom.js, react-router.js` installed via npm.

[code]

[2016-11-17 10:19] talyssonoc commented on #76
@four-eyes-04-04 you should put the path for the libs and your components there. Something like:

[code]

[2016-11-18 11:15] aprilmintacpineda commented on #76
@talyssonoc

Okay that makes sense, so I don't need to mess with my scripts right? like I think the php-react requires that I do something like

[code]

and also

[code]

I saw this on [react-phpv8js](https://github.com/reactjs/react-php-v8js) and I am really confused with that.

[2016-11-18 12:01] talyssonoc commented on #76
@four-eyes-04-04 nop, we do that for you! https://github.com/talyssonoc/react-laravel/blob/master/lib/React.php#L54 😄

[2016-11-18 14:57] aprilmintacpineda commented on #76
wow thanks a lot! saves me the awfulness! You're a life saver! :-)

[2016-11-18 14:57] #76 closed, assigned to nobody

[2016-11-19 01:55] aprilmintacpineda opened #77 "undefined:13: ReferenceError: document is not defined"
- Laravel@5.3
- ReactJS@15.4.0
- ReactDOM@15.4.0

I'm using gulp to mix all my scripts into `public/js/app.js`.

###  web.php
[code]

### index.blade.php
[code]

### My Components
I only have one component I am using to test things out, which is at `root-dir/resources/js/components`. then I have my app.js as an entry point for my gulp located at `root-dir/resources/js/app.js`.

### app.js (entry p

[2016-11-19 02:51] aprilmintacpineda commented on #77
I got it, I know where the error is coming from, I think it is because of this:

[code]

The line `document.getElementById('app')` is causing the error, the `document` right there is undefined because when you run this line on v8 there is no `document` object, at least this is my theory. how to fix this,,,

[2016-11-20 13:55] talyssonoc commented on #77
@four-eyes-04-04 you don't need to mount the component on the DOM yourself, that's what the JS part of this lib is for, it will mount it for you where you use the `@react_component`! It's done right here: https://github.com/talyssonoc/react-laravel/blob/master/assets/react_ujs.js#L35

[2016-11-21 06:41] aprilmintacpineda commented on #77
@talyssonoc

I tried that out:

### resources/assets/js/app.js (entry point)
[code]

### resources/assets/js/components/Greet.js
[code]

### index.blade.php
[code]

### now I got:
[code]

Do you guys have a working sample project?

[2016-11-21 10:46] talyssonoc commented on #77
I think Babel is trolling you 😞 . Look how it compiles your entry point: https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-2&code=import%20Greet%20from%20'.%2Fcomponents%2FGreet'%3B

There's no `Greet` variable there... Just for testing sake, could you try to do something like that?

https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=fal

[2016-11-22 07:54] aprilmintacpineda commented on #77
@talyssonoc

if I do:
[code]

it would say `No module loaders`

if I do:
[code]

It would say `unexpected token import`.

Don't you have a sample project that has at least 2 components? I think that would help me to understand react-laravel's work flow so much more. I'll be better if it uses Gulp and webpack to mix all the scripts into one js file.

[2016-11-22 08:03] aprilmintacpineda commented on #77
I tried to do this:

app.js (entry point for gulp webpack)
[code]

still I got:
[code]

then I tried:
[code]

which doesn't make sense because it's kind of like a redundant declaration but still worth a shot, hehe
I got the same output though.

[2016-11-22 09:23] TomCaserta commented on #77
Just took a glance over it, it could be babel/browserify as it bundles the source and wraps them. I am not sure if there is a better way of doing it (I am sure there is - or at least we can make some modifications to the library to make it better for browserify compiled bundles) but previously I had to export my components to the window. To do that you have to do something like the following:

[co

[2016-11-22 11:00] talyssonoc commented on #77
@TomCaserta's solution is also a good one. Since we'll need it to be on the `window` object anyway for the mounting after the page load (read the end of this section: https://github.com/talyssonoc/react-laravel#configurations)

[2016-11-23 07:08] aprilmintacpineda commented on #77
@TomCaserta your solution worked!

### app.js (entry point for webpack)
[code]

### Greet.js
[code]

### index.blade.php
[code]

### however
Isn't it a pain in the ass to do all that? I just imported it which creates a variable `greet` then I have to add that on the `window` object. It would be better to simply allow us to write like this:

[code]

because that `window.Greet = Greet` adds an unnec

[2016-11-23 07:09] aprilmintacpineda commented on #77
@talyssonoc sorry, my bad, I didn't read that part, hehe.

[2016-11-23 10:26] talyssonoc commented on #77
@four-eyes-04-04 unfortunately we need to do something like that (expect the component to being on `window`) because we need a way to reach it from react-laravel's JS file (https://github.com/talyssonoc/react-laravel/blob/master/assets/react_ujs.js#L32) to mount it after the page load. Maybe you could use CommonJS in your `app.js` file and do `window.Greet = require('./components/Greet')`, it seem

[2016-11-23 15:35] aprilmintacpineda commented on #77
@talyssonoc @TomCaserta
thank you both 💯 👍

if I have more question or run into trouble, I hope to see you guys here again! :-)

[2016-11-23 15:35] #77 closed, assigned to nobody

[2016-11-23 16:02] aprilmintacpineda opened #78 "Usage with redux"
### app.js (entry point for elixir)
[code]

### index.blade.php
[code]

### indexController
Controller for the Catch-all route, which has only one function.
[code]

### Layout.js (inside `components` directory)
[code]

### People.js (inside `components` directory)
[code]

As you can see, by default I am prerendering the `Layout` component which is a parent of `People`. `Layout` component accepts t

[2017-02-08 22:32] yazfield opened #79 "is this still alive?"
I was thinking of making a boilerplate for Laravel 5.4 and react+redux ...etc, if this is still alive maybe we could talk it through?

[2017-02-10 02:54] talyssonoc commented on #79
@yazfield it is! I'm not having to much time to work in it recently but I intend to make progress on that soon.

[2017-02-15 11:49] yazfield commented on #79
Cool then

[2017-02-15 11:49] #79 closed, assigned to nobody

[2017-03-27 08:25] linweili1201 commented on #33
sorry for asking the stupid question, but i want to know how to run the example? do react views have any route url

[2017-04-28 17:28] georgewritescode opened #81 "NPM Install Issue"
I usually run npm on my local machine rather than my homestead machine so this fails whenever I run it on homestead for unknown issues (Im running homestead on windows).

Perhaps we can manually instally the npm libraries after in another without it being part of the build process?

`installing npm dependencies in '/home/vagrant/Code/roo/vendor/talyssonoc/react-laravel'...
npm WARN temp-composer-e

[2017-04-28 17:46] georgewritescode opened #82 "Minimum stability problem"
Sorry to keep posting issues I thank you for your work on this project.

However, when we put the minimum stability as dev it doesnt just affect react-laravel,
it affects every composer library including laravel/framwork itself.

As such, I think you need to suggest it only be set for react-laravel in the tutorial?

[2017-05-02 03:27] cargie commented on #82
you can set composer to prefer stable

[2017-05-24 10:27] kenduigraha opened #83 "Minimum Version of Laravel"
Hello there, i want to know if there's mininum version of the laravel framework that can run with this library?

My current project laravel's version is 4.2, is it working well in laravel 4.2 ?

Thankyou so much,
best regards

[2017-10-25 17:00] koladei commented on #10
Thank you so much.
/opt/v8 is the path I have been looking for.

God bless you.

[2017-12-24 13:13] Noitidart opened #84 "Guide for Laravel for REST API only"
Hi there,

I want to use Laravel for REST API only. I also use react-router so routing is taken care of. However I do need server side rendering, and especially setting the page title server side IF the user has loaded that page with a deep link.

Is it possible to use react-laravel just for REST API and server side rendering (for initial ReactDOM.render and page title)? Is there a guide for such

[2017-12-24 13:16] Noitidart commented on #83
I also have this question. I actually use Laravel 5.5.13 and want to switch to this but maintain my Laravel version of 5.2 at least.

[2018-06-11 20:44] salamex commented on #14
cheers

[2018-07-20 07:01] gempir commented on #10
Any ideas what to do when /opt/v8 doesn't exist? I have all the packages installed.

[2018-07-20 21:22] koladei commented on #10
Follow the steps in this article:

http://wiki.dreamfactory.com/DreamFactory/APT/Ubuntu_16.04/Modules/v8js

On Fri, Jul 20, 2018, 08:01 Daniel Pasch <notifications@github.com> wrote:

[2018-07-23 21:44] henfreire commented on #14
Do you know how to access direct a permanent link create by react creating the route in laravel?

[2018-08-02 16:28] coryfail opened #85 "ComposerAutoloaderInit error"
Once installed and trying to import a component, I get the following error message:

[2018-08-02 16:36] coryfail commented on #85
The issue is on line 5 of `/lib/React.php`

[2018-08-10 12:11] gronel commented on #43
I got same error were I can download v8js.dll please help.. thanks

[2018-08-13 09:06] gronel opened #86 "update"
Hi good day can you help me how to update your react to react 16?

[2019-07-07 15:35] veronicalw opened #87 "Error Fetching Data in React Native with Laravel as a Back-End"
Hello Mr./Mrs. Talyssonoc
I was wondering if you could help me to solve this error.
So I am using laravel as my back-end and I've tested all the method and it works tho.
**Here's my code for PinjamList.js in RN:**

`import React, { Component } from 'react';
import {  View, Text, StyleSheet} from 'react-native';
import PropTypes from 'prop-types';

export default class PinjamList extends Component

[2020-05-29 20:55] Stevemoretz opened #89 "React router best practice"
Hi loading the stuff from laravel routers needs a complete reload each time and redux between the pages will be useless in this case also.So what do you suggest to fix this issues?